* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsla(0, 0%, 0%, 0.879);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: bisque;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
}

.header h1 {
  text-align: center;
  font-family: sans-serif;
}

.form {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textBox {
  text-align: center;
  width: 250px;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.radioBtn {
  margin: 30px 0;
}

.fahrenheitContainer {
  margin-bottom: 10px;
}

.radioLabel {
  font-size: 20px;
  font-family: sans-serif;
}

.submitBtn button {
  padding: 10px 15px;
  font-size: 20px;
  color: beige;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  background-color: brown;
}

.result .resultH3 {
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 20px;
}
